@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{padding: 0; margin: 0;}
body{font-family: 'Roboto', sans-serif;}
a{text-decoration: none;}
a:hover{text-decoration: none;}
/*************=========Common class========***************/
.ul-none{list-style: none;}
.li-inline{display: inline-block;}
.uppercase{text-transform: uppercase;}
.bold{font-weight: 700;}
.semibold{font-weight: 500;}
.common-btn{padding: 15px 25px; background-color: #0066ff; color: #fff; transition: 0.4s; border: none;	outline: none;}
.common-btn:hover{background-color: #000066;}
.normal-txt{font-size: 16px; color: #00004d;}
.big-txt{font-size: 20px; color: #0066ff;}
.large-txt{font-size: 30px; color: #0066ff;}
.xtra-large-txt{font-size: 50px; color: #0066ff;}
.white{color: #fff;}
.bg-blue{background-color: #000066;}
/************=========navbar==========*********************/
.navbar{padding: .5rem 3rem !important;}
.nav-item{margin: 0 15px; font-size: 20px; color: #0066ff !important;}
.nav-item:hover{color: #000066 !important;}
/************===========index page======*******************/
.index-banner-right img{width: 100%;}
.index-about{margin-top: 70px;}
.index-banner-left{padding: 50px 40px 30px 0;}
.index-banner-left h2{margin-bottom: 20px;}
.owl-slider-index .item{margin: 30px 15px;}
.owl-slider-index .item img{width: 100%;}
.owl-slider-index{margin-top: 100px;}
.gal-index-img{overflow: hidden;}
.gal-index-img img{width: 100%; transition: 0.4s;}
.gal-index-img img:hover{ -ms-transform: rotate(20deg); transform: rotate(20deg);}
.gallery-index {margin-top: 100px;}
.gallery-index h4{margin-bottom: 50px;}
.act-ruls{margin: 100px 0 50px;}
.act-ruls h5{text-align: center; margin-bottom: 50px;}
.act-rul-each a{padding: 20px 40px; display: inline-block; color: #fff !important; background-image: linear-gradient(#0066ff, #000066); width: 200px; margin: 0 0 50px 0; transition: 0.4s;}
.act-rul-each a:hover{ margin-left: 20px;}
.banner-head{margin: 0;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.banner-head h1{text-shadow: 0 0 3px #cce6ff; text-align: center;}
.fix-social{position: fixed; top: 20%; left: 0; background-color: #000066; padding:10px;}
.fix-social .fa{font-size: 30px; color: #fff; margin-top: 20px;}
/**********==========By loss page========*********/
.by-loss-banner img{width: 100%;}
.by-loss-btn{margin: 100px 0 50px;}
.by-loss-btn h1{margin-bottom: 50px;}

/**********=========Footer=========************/
footer{ background-color: #000066; padding:50px 0;}
.footer-info img {width: 100%;}
.footer-social .fa{display: inline;	color: #fff; font-size: 20px; margin-right: 10px; transition: 0.4s;}
.footer-social .fa:hover{color:#ff9933;}
.footer-social{margin-bottom: 30px;}
.footer-input {padding:6px 10px; border: none; outline: none; width: 90%; margin-bottom: 20px;}
.footer-submit{border: none; outline: none;	padding: 5px 10px; transition: 0.4s; font-weight: bold;}
.footer-submit:hover{ background-color: #fff; color: #ff9933;}
.footer-info li a{color: #fff; font-size: 20px; transition: 0.4s;}
.footer-info li a:hover{color: #ff9933;}
.footer-info li{margin-bottom: 10px;}
.trems{margin-top: 30px; text-align: right;}
.trems a{color: #fff; font-size: 12px;}
.trems a:hover{color: #ff9933;}
.footer-info label{margin-bottom: 20px;}
hr{background-color: #fff;}
.copy-right span a{color: #fff; transition: 0.4s;}
.copy-right span a:hover{color: #ff9933;}

/************=====contact page=====*********/
.address-area a{display: block;}
.contact-dtls{margin-top: 70px;}
.contact-dtls .large-txt{margin-bottom: 50px;}
.contact-frm .form-control{ margin-bottom: 20px; }
.map{margin-top: 70px;}
.address-area a{ font-weight: bold; margin-bottom: 	15px; font-size: 20px; }
.address-area .fa{margin-right: 15px;}
/************======About==========*********/
.accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: "\f068";
    float: right; 
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067"; 
}
.accordion h3{margin-bottom: 50px;}
.accordion {margin-bottom: 100px;}
.about-table{margin: 100px 0;}
.about-table h2{margin-bottom: 50px;}

/************=====sign-up-frm=====**********/
.sing-up{position: relative;}
.sign-up-frm{border: 2px solid #000066 !important; padding: 50px;  width: 600px; top: 50%; left: 50%; transform: translate(-50%, -50%);}
/************=====block ui======***********/
.blockUI.blockMsg.blockPage{ border: 2px solid #000066 !important; padding: 50px !important;  width: 600px !important; top: 50% !important; left: 50% !important; transform: translate(-50%, -50%);}
.blockUI .block-ui-input{width: 79%; margin: 0 10%; display: block; height: 50px; padding: 15px;}
.blockUI button{display: block; margin: 20px auto;}
.blockUI label{font-size: 20px !important;}
.blockUI h2{margin-bottom: 50px;}
.block-xtra a{display: block; margin: 10px auto;}